!xft fonts

Xft.antialias:  1
Xft.dpi:        96
Xft.hinting:    1
Xft.hintstyle:  hintslight
Xft.rgba:       rgb

! urxvt

URxvt.font:-*-termsyn-medium-*-*-*-14-*-*-*-*-*-*-*
URxvt.italicFont:xft:droid sans mono:pixelsize=11:italic:antialias=true:hinting=true
URxvt.scrollBar: false
URxvt.skipBuiltinGlyphs: true
URxvt.depth:       16
URxvt.letterSpace: 0
URxvt.boldMode: false
URxvt.imLocale: en_US.utf8
URxvt.loginShell: true
URxvt.saveLines: 8192
urxvt.geometry: 80x40
URxvt.borderless: false
URxvt.internalBorder: 5
URxvt.xftAntialias: true
URxvt.jumpScroll: true
URxvt.cursorBlink: false
URxvt.underlineURLs: true
URxvt.cursorUnderline:      false
URxvt*transparent: false
urxvt*urgentOnBell: true

!extensions

URxvt.perl-ext-common : default,clipboard,url-select,keyboard-select
URxvt.keysym.M-u:       perl:url-select:select_next
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
URxvt.keysym.M-s:       perl:keyboard-select:search
URxvt.url-select.launcher: /usr/bin/firefox
URxvt.url-select.underline: true


!colors

URxvt*background:            #222222
URxvt*foreground:            #e6e6e6
URxvt*cursorColor:           #5794FF
URxvt*colorBD:               #FFFFFF
URxvt*colorUL:               #EDFF7A

!black
*color0:#222222
*color8:#777777

!red
*color1:#FF1A6E
*color9:#FF3D84

!green
*color2:#3DFF57
*color10:#7AFF8C

!yellow
*color3:#DFFF00
*color11:#EDFF7A

!blue
*color4:#337EFF
*color12:#5794FF

!magenta
*color5:#C561FF
*color13:#C561FF

!cyan
*color6:#00DDFF
*color14:#0AFFFF


!white
*color7:#fdfdfd
*color15:#efefef
