! xft fonts

Xft.antialias:  1
Xft.dpi:        96
Xft.hinting:    1
Xft.hintstyle:  hintslight
Xft.rgba:       rgb

! urxvt fonts

URxvt.font:-*-termsyn-medium-*-*-*-14-*-*-*-*-*-*-*
!URxvt.font:xft:source code pro medium:pixelsize=11:antialias=true:hinting=true
URxvt.italicFont:xft:droid sans mono:pixelsize=11:italic:antialias=true:hinting=true
URxvt.xftAntialias: true


! urxvt options
URxvt.boldMode: false
URxvt.borderless: true
URxvt.internalBorder: 3
URxvt.cursorBlink: false
URxvt.cursorUnderline: false
URxvt.depth:       16
URxvt.imLocale: en_US.utf8
URxvt.jumpScroll: true
URxvt.letterSpace: 0
URxvt.loginShell: true
URxvt.saveLines: 8192
URxvt.scrollBar: false
URxvt.skipBuiltinGlyphs: true
URxvt.transparent: false
URxvt.underlineURLs: true
urxvt.geometry: 80x40
urxvt.urgentOnBell: true


! perl extensions

URxvt.perl-ext-common : default,clipboard,url-select,keyboard-select
URxvt.keysym.M-u:       perl:url-select:select_next
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
URxvt.keysym.M-s:       perl:keyboard-select:search
URxvt.url-select.launcher: /usr/bin/firefox
URxvt.url-select.underline: true


!colors

URxvt*foreground:            #e6e6e6
URxvt*cursorColor:           #EFEFEF
URxvt*colorBD:               #FFFFFF
URxvt*colorUL:               #ffe494

!black
*color0:#222222
*color8:#777777

!red
*color1:#ff6188
*color9:#ff6188

!green
*color2:#ffe494
*color10:#ffe494

!yellow
*color3:#ffa8be
*color11:#ffa8be

!blue
*color4:#99b3ff
*color12:#99b3ff

!magenta
*color5:#b399ff
*color13:#b399ff

!cyan
*color6:#ff85e0
*color14:#ff85e0


!white
*color7:#fdfdfd
*color15:#efefef
